# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Local environment variables
.env

# Test outputs 
*.coverage
.pytest_cache/
venv/
# Avoid copying notebooks 
*.ipynb

# Ignore Docker system files
.dockerignore
Dockerfile
